.eachline {
  display: flex;
  margin-top: 1.875rem;
  margin-left: 6.25rem;
}

.line {
  margin-right: 11.25rem;
}

@media (max-width: 768px) {
  .eachline {
    margin-top: 0px;
    margin-bottom: 0.313rem;
    margin-left: 0px;
    margin-right: 5px;
  }

  .line {
    margin-right: 3.5rem;
  }
}
