.table-wrapper {
  margin-top: 50px;
}

.dropdown-menu {
  position: relative !important;
}

.filter {
  display: flex;
  margin-top: 100px;
  margin-left: 180px;
}

.filtereach {
  margin-right: 50px;
}
