.piebox {
  width: 80vw;
  margin-bottom: 6.25rem;
}

.eachpie {
  margin-bottom: 2.5rem;
  margin-right: 2vw;
}

.summary-wrapper {
  margin-top: 9.375rem;
}

.seeall {
  width: 25rem;
  font-size: 1.563rem;
  background-color: #95a3b3;
  margin-bottom: 1.25rem;
}

.cardmein {
  height: 50vh;
  border: black;
}

@media (max-width: 768px) {
  .piebox {
    width: 100vw;
  }
  .summary-wrapper {
    margin-top: 5rem;
  }

  .seeall {
    width: 12.5rem;
    font-size: 1.563rem;
    background-color: #95a3b3;
    margin-bottom: 1.25rem;
  }
}
