.weather-date {
  display: flex;
}

.upper-head {
  height: 20vh;
}

.weather-logo {
  height: 7.5rem;
  width: 7.5rem;
}
.temp {
  font-size: 1.25rem;
}

.date {
  font-size: 1.875rem;
  font-family: Purisa;
  font-style: normal;
  font-weight: normal;
}
@media (max-width: 768px) {
  .upper-head {
    height: 12vh;
  }
  .weather-logo {
    height: 3.125rem;
    width: 3.125rem;
  }
  .temp {
    font-size: 0.875rem;
  }
  .date {
    font-size: 1rem;
  }
}
